@import "../../styles/scss/mixin";



.historyHeader {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    padding: 10px 15px;
    background-color: #393958;
    border-radius: 8px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
    user-select: none;

    .column {
        padding: 5px;
        font-size: 14px;

        @include respond-to($breakpoint-md) {
            font-size: 16px;
        }
    }
}

.history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

    .pageButton {
        padding: 8px 16px;
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        background-color: #393958;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #6eb5ff;
        }

        &.disabled {
            background-color: #4a4a62;
            cursor: not-allowed;
        }
    }

    .pageInfo {
        font-size: 1rem;
        color: #bdbdbd;
    }
}
