.boardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    height: 100vh;
    background-color: var(--bg-color);

    .leave_button {
        background-color: var(--nav-color);
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
}

.game_room__wrapper {
    display: flex;

    .left_side {
        max-width: 280px;
        min-width: 280px;
        background-color: var(--nav-color);

    }

    .right_side {
        max-width: 280px;
        min-width: 280px;
        background-color: var(--nav-color);
    }
}

.game_section {
    border-radius: 10px;
    background: var(--caro-board-color);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);

    .game_container {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }
}

.winner_notif {
    position: absolute;
    top: 50%;
    left: 50%;
}