.roomCodePopup {
    width: 300px;
    background-color: var(--nav-color-dark);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    position: relative;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        color: var(--bg-color-light);
        cursor: pointer;
    }

    &__content {
        text-align: center;
    }

    &__title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        color: var(--bg-color-light);
    }

    &__input {
        width: 100%;
        padding: 5px 12px;
        font-size: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        text-align: center;
    }

    .error {
        color: #ed4141;
        margin-bottom: 10px;
        width: 100%;
    }

    &__button {
        width: 100%;
        padding: 12px;
        font-size: 16px;
        background-color: #28a745;
        color: #fff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #218838;
        }
    }
}
