@import '../../../styles/scss/mixin.scss';

.features {
    background-color: var(--bg-color);
    padding: 3rem 1rem;
    color: var(--color-text);

    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        justify-content: center;


        .feature {
            text-align: center;
            flex: 1;
            max-width: 300px;
            padding: 1rem;

            h3 {
                font-size: 1.5rem;
                color: var(--home-text-color);
            }

            p {
                margin-top: 0.5rem;
                color: var(--color-text);
            }
        }
    }

    @include respond-to(null, $breakpoint-md) {
        &__list {
            flex-direction: column;
            align-items: center;

            .feature {
                margin-bottom: 2rem;
            }
        }
    }
}
