.boardSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    gap: 50px;
    height: 100vh;
    background-color: var(--bg-color);
}

.game_room__wrapper {
    display: flex;

}

.game_section {
    border-radius: 10px;
    background: var(--caro-board-color);
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.25);

    .game_container {
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }
}

.winner_notif {
    position: absolute;
    top: 50%;
    left: 50%;
}