@import '../../../styles/scss/mixin';

.history_cell {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-radius: 8px;
    background-color: var(--nav-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: background-color 0.2s;

    &:hover {
        background-color: #3a3a4b; /* Màu nền khi hover */
    }

    & > div {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.players_cell {
    display: flex;
    flex-direction: column;

    gap: 8px;

    .player {
        font-weight: bold;
        color: #e6e6e6;
        cursor: pointer;
        transition: color 0.2s;
        font-size: 12px;

        @include respond-to($breakpoint-md) {
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: #6eb5ff;
            transition: color 0.2s;

            &:hover {
                color: #ffffff;
            }
        }
    }
}

.scores {
    display: flex;
    flex-direction: column;

    gap: 8px;

    .score {
        font-size: 12px;
        font-weight: bold;
        background: #393958;
        padding: 5px 10px;
        border-radius: 5px;
        color: #ffffff;
        width: 50px;
        @include respond-to($breakpoint-md) {
            font-size: 14px;
        }
        &.loser {
            color: #ff6b6b; /* Màu đỏ cho người chơi đầu */
        }

        &.winner {
            color: #1dd1a1; /* Màu xanh cho người chơi sau */
        }

        &.draw {
            color: #ff9f43;
        }
    }
}

.game_count {
    font-size: 12px;
    font-weight: bold;
    background: #4a4a62;
    padding: 5px 10px;
    border-radius: 5px;
    color: #e6e6e6;
    @include respond-to($breakpoint-md) {
        font-size: 14px;
    }
}

.create_at {
    font-size: 12px;
    font-style: italic;
    color: #bdbdbd;

    @include respond-to($breakpoint-md) {
        font-size: 14px;
    }
}
