.content {
  background-color: var(--bg-color-dark);
  height: 100vh;
  overflow: auto;

  .test{
    height: 2000px;
  }


  /* Chrome, Safari và Edge */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--nav-color-dark);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color-dark);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}