@import '../../../styles/scss/mixin.scss';

.hero {
    background-color: var(--bg-color-dark);
    text-align: center;
    padding: 5rem 1rem;
    color: var(--color-text-dark);

    &__content {
        h1 {
            font-size: 2.5rem;
            color: var(--color-main);
        }

        p {
            margin-top: 1rem;
        }

        .hero__button {
            padding: 0.8rem 2rem;
            background-color: var(--color-main);
            color: var(--bg-color-dark);
            text-decoration: none;
            border-radius: 5px;
            margin-top: 1.5rem;
        }
    }

    @include respond-to(null, $breakpoint-md) {
        &__content h1 {
            font-size: 2rem;
        }
    }
}
