.boardSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.boardTable {
  border-collapse: collapse;
}

.boardCell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

.boardButton {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}
