.content {
  background-color: var(--bg-color);
  height: 100dvh; /* Chiều cao của toàn bộ HomePageComponent */
  display: flex;
  flex-direction: column;
  width: auto;

  .test {
    flex-grow: 1; /* Để phần này chiếm không gian còn lại sau Header */
    overflow-y: auto; /* Cho phép cuộn chỉ trong phần test */
    height: 100%; /* Chiều cao 100% trong không gian còn lại */
    display: block;
    width: 100%;

    /* Tùy chỉnh thanh cuộn cho WebKit browsers */
    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--nav-color);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--bg-color);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }

    &::-webkit-scrollbar {
      display: none; /* Ẩn thanh cuộn mặc định */
    }

    &:hover::-webkit-scrollbar {
      display: block; /* Hiện thanh cuộn khi hover */
    }
  }
}
