@import "../styles/scss/mixin";

.layout_wrapper {
    display: flex;
    height: 100vh;
    background-color: var(--nav-color);
    color: #ffffff;
}

/* Khu vực bên trái */
.left_side {
    background-color: var(--nav-color);
    border-right: 1px solid #444;
    overflow-y: auto;
    max-width: 280px;
    min-width: 280px;
    display: none;

    @include respond-to($breakpoint-xl) {
        display: block;
    }
}

.center_side_wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Khu vực chính giữa */
.top_side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--nav-color);
    border-bottom: 1px solid #444;
    max-height: 80px;
    min-height: 80px;
    position: relative;

    .result {
        position: absolute;
        color: #E50048;
        display: block;
        visibility: hidden;
        opacity: 0;
        top: 50%;
        transition: all 0.5s ease;
        user-select: none;
        z-index: 1000;

        &.show {
            visibility: visible;
            opacity: 1;
            top: 100%;
        }

        &.hide {
            visibility: hidden;
            opacity: 0;
            top: 50%;
        }


        .winner {
            font-size: 80px;
            font-family: "BubblegunSans", sans-serif;

        }

    }

    .vs_icon {
        img {
            width: 50px;
            height: 50px;
        }
    }
}

.center_side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 8px;
    overflow: auto;
}

.bottom_side {
    display: flex;
    //justify-content: center;
    padding: 10px;
    background-color: var(--nav-color);
    border-top: 1px solid #444;
    max-height: 80px;
    min-height: 80px;
    .leave_room {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #ff4d4f;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #e33e3f;
        }
    }
}

/* Khu vực bên phải */
.right_side {
    max-width: 280px;
    min-width: 280px;
    background-color: var(--nav-color);
    border-left: 1px solid #444;
    overflow-y: auto;
    display: none;

    @include respond-to($breakpoint-xl) {
        display: block;
    }
}

