$breakpoint-xs: 320px; // Mobile nhỏ
$breakpoint-sm: 576px; // Mobile
$breakpoint-md: 768px; // Tablet
$breakpoint-md-1: 920px; // Tablet
$breakpoint-lg: 1024.1px; // Laptop
$breakpoint-xl: 1200px; // Desktop

$color-description: #7D7D7D;
$color-border: #E3E3E3;

// Mixin for media queries (combine for efficiency)
// Mixin for media queries
@mixin respond-to($min: null, $max: null) {
  @if $min ==null and $max !=null {
    @media (max-width: $max) {
      @content;
    }
  }

  @else if $min !=null and $max ==null {
    @media (min-width: $min) {
      @content;
    }
  }

  @else if $min !=null and $max !=null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }

  @else {
    @content;
  }
}

@mixin scrollBar {
  /* Tùy chỉnh thanh cuộn cho WebKit browsers */
  &::-webkit-scrollbar {
    width: 3px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--nav-color);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  &::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn mặc định */
  }

  &:hover::-webkit-scrollbar {
    display: block; /* Hiện thanh cuộn khi hover */
  }
}
