.rulesContent {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: var(--color-text-dark);
    line-height: 1.6;
}

.section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;

    &:last-child {
        border-bottom: none;
    }

    h2 {
        color: var(--color-main);
        margin-bottom: 15px;
        font-size: 1.75rem;
        border-bottom: 2px solid #3498db;
        padding-bottom: 8px;
        display: inline-block;
    }

    ul {
        list-style-type: none;
        padding-left: 20px;

        li {
            margin-bottom: 8px;
            &:before{
                content: "•";
                color:#3498db;
                display:inline-block;
                width: 1em;
                margin-left: -1em;
            }
            strong{
                font-weight: 600;
            }
            ul {
                margin-left: 1.5em;
                li::before{
                    content: "◦";
                    color: var(--color-text-dark);
                }
            }
        }
    }

    p {
        margin-bottom: 10px;
    }

}